{% import '_includes/forms' as forms %}

{% macro configWarning(setting) -%}
    {% set docsUrl = 'https://www.doublesecretagency.com/plugins/upvote/docs/override-settings' %}
    <p class="warning">
        {{ "This is being overridden by the {setting} config setting."|t('app', {
            setting: '<a href="'~docsUrl~'" target="_blank">'~setting~'</a>'
        })|raw }}
    </p>
{%- endmacro %}

{% from _self import configWarning %}

<h2>Voting Settings</h2>

{{ forms.checkbox({
    label: "<strong>Require login to vote</strong>"|t,
    id: 'requireLogin',
    name: 'requireLogin',
    checked: settings.requireLogin,
    disabled: 'requireLogin' in overrideKeys
}) }}
{{ 'requireLogin' in overrideKeys ? configWarning('requireLogin') }}
<p>To prevent any chance of voting fraud, it's <strong>highly recommended</strong> that your users be logged in to vote. However, sometimes it's necessary to allow anonymous voting.</p>

{{ forms.checkbox({
    label: "<strong>Allow downvoting</strong>"|t,
    id: 'allowDownvoting',
    name: 'allowDownvoting',
    checked: settings.allowDownvoting,
    disabled: 'allowDownvoting' in overrideKeys
}) }}
{{ 'allowDownvoting' in overrideKeys ? configWarning('allowDownvoting') }}
<p>Sometimes it doesn't make sense to give users the option to downvote something. In those cases, downvoting can be disabled.</p>

{{ forms.checkbox({
    label: "<strong>Allow vote removal</strong>"|t,
    id: 'allowVoteRemoval',
    name: 'allowVoteRemoval',
    checked: settings.allowVoteRemoval,
    disabled: 'allowVoteRemoval' in overrideKeys
}) }}
{{ 'allowVoteRemoval' in overrideKeys ? configWarning('allowVoteRemoval') }}
<p>Occasionally users will change their mind after voting. This option allows them to "take back" their vote.</p>

{{ forms.checkbox({
    label: "<strong>Allow Font Awesome</strong>"|t,
    id: 'allowFontAwesome',
    name: 'allowFontAwesome',
    checked: settings.allowFontAwesome,
    disabled: 'allowFontAwesome' in overrideKeys
}) }}
{{ 'allowFontAwesome' in overrideKeys ? configWarning('allowFontAwesome') }}
<p>The default up &amp; down icons are generated using <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>. It's loaded automatically by the plugin, but can be disabled if necessary.</p>

<hr/>

<h2>Complete Vote Log</h2>

{{ forms.checkbox({
    label: "<strong>Keep a detailed record of all votes</strong>"|t,
    id: 'keepVoteLog',
    name: 'keepVoteLog',
    checked: settings.keepVoteLog,
    disabled: 'keepVoteLog' in overrideKeys
}) }}
<p>Generally unnecessary... The detailed log is not used to calculate the tally for each element.</p>
<ul>
    <li><strong>PRO:</strong> You have a detailed log of every vote cast, which can then be accessed by another plugin via the <code>Upvote_VoteLogRecord</code> class.</li>
    <li><strong>CON:</strong> Any time Craft needs to create a backup database, it could take a very long time (depending on how big the votes table gets).</li>
</ul>

<hr/>

<h2>Legacy Data</h2>

{% set featuresUrl = 'https://www.doublesecretagency.com/plugins/upvote/docs/getting-vote-totals' %}

{% if craft.upvote.hasLegacyData %}
    <p>This site <strong>does contain</strong> legacy data. You will not be able to use all of the features <a href="{{ featuresUrl }}" target="_blank">listed here...</a></p>
    <p>If you want to destroy the legacy data, you will need to uninstall &amp; re-install the plugin. <strong>WARNING:</strong> This will delete all existing vote data.</p>
{% else %}
    <p>This site <strong>does not contain</strong> any legacy data. You are free to use all of the features <a href="{{ featuresUrl }}" target="_blank">listed here...</a></p>
{% endif %}